parameters:
	ignoreErrors:
		-
			message: '#^Parameter \$image of method Ymir\\Plugin\\Attachment\\GDImageEditor\:\:_save\(\) has invalid type GdImage\.$#'
			identifier: class.notFound
			count: 1
			path: src/Attachment/GDImageEditor.php

		-
			message: '#^Class CurlHandle not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Http/CurlClient.php

		-
			message: '#^Constant WPINC not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/Http/CurlClient.php

		-
			message: '#^Parameter \#3 \$value of function curl_setopt expects int, float given\.$#'
			identifier: argument.type
			count: 2
			path: src/Http/CurlClient.php

		-
			message: '#^Property Ymir\\Plugin\\Http\\CurlClient\:\:\$handle \(CurlHandle\|resource\) is never assigned CurlHandle so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Http/CurlClient.php

		-
			message: '#^Property Ymir\\Plugin\\Http\\CurlClient\:\:\$handle has unknown class CurlHandle as its type\.$#'
			identifier: class.notFound
			count: 1
			path: src/Http/CurlClient.php
