includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Configuration
        - src/QueryMonitor
        - src/Subscriber\QueryMonitorSubscriber.php
    ignoreErrors:
        - message: '#Constant [^\s]* not found#'
          paths:
            - src/Http/Client.php
        - message: '#invalid typehint type \\GdImage#'
          paths:
            - src/Attachment/GDImageEditor.php
        - message: '#method RedisCluster::#'
          paths:
            - src/ObjectCache/RedisClusterObjectCache.php
        - message: '#unknown class PHPMailer|invalid typehint type PHPMailer#'
          paths:
            - src/Email/Email.php
        - message: '#unknown class CurlHandle|Class CurlHandle not found#'
          paths:
            - src/Http/Client.php
