includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    paths:
        - ymir.php
        - bootstrap.php
        - pluggable.php
        - src/
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    level: 5
